{% extends "base.html" %}

{% block content %}
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <h1 class="mb-3">Foods</h1>
              </div>
            </div>
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-12">
                <style>
                  #foods-table tbody tr.food-dominant-protein {
                    background-color: var(--food-dominant-protein);
                  }

                  #foods-table tbody tr.food-dominant-carb {
                    background-color: var(--food-dominant-carb);
                  }

                  #foods-table tbody tr.food-dominant-fat {
                    background-color: var(--food-dominant-fat);
                  }

                  #foods-table thead th {
                    position: sticky;
                    top: 0;
                    background: var(--bs-secondary-bg);  /* or your theme bg */
                    z-index: 2;
                  }
                </style>

                <div class="card mb-4">
                  <div class="card-body">
                    <form id="foods-fdc-form" class="row gy-2 gx-3 align-items-end">
                      <div class="col-sm-12 col-lg-6">
                        <label class="form-label text-decoration-underline" for="foods-fdc-id">Add food by FDC ID</label>
                        <p>Search any food, e.g chicken in this <a target="_blank" href="https://fdc.nal.usda.gov/food-search?type=Foundation&query=chicken">fdc.nal.usda.gov</a> example, then click on a result, you will see the FDC ID for the food in details. Input the FDC ID below then click <button class="btn btn-primary w-100" type="submit">Fetch & Add Food by FDC ID</button></p>
                        
                        <img src="{{ url_for('static', path='fdcid.JPG') }}" class="img-fluid mt-2 mb-3" style="max-width: 420px;" />
                        
                        <input type="number" class="form-control" id="foods-fdc-id" placeholder="2727569" min="1" required />
                      </div>
                    </form>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div id="foods-status" class="mb-2 text-muted">Loading foods...</div>
                      <table id="foods-table" class="table table-bordered table-hover align-middle">
                        <thead id="foods-table-head"></thead>
                        <tbody id="foods-table-body"></tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>

{% endblock %}
